body {
  margin: 0;
  padding: 0;
  background-color: #27272a;
  color: #fafafa;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #18181b;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  border-bottom: 1px solid #e4e4e7;
}

#h-left {

}

#h-center {
  font-weight: 900;
}

#h-right {

}

#nav-bar {
  background-color: #18181b;
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 1rem;
  position: sticky;
  top: 0rem;
}

.nav-choice {
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
}

#main {
  min-height: 100vh;

}

footer {
  margin-top: auto;
  background-color: #18181b;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-top: 1px solid white;
}